package ${packageName}.mapper;

import ${packageName}.domain.entity.${ClassName}Entity;
import com.ruoyi.common.core.domain.BaseMapper;

/**
 * ${functionName}Mapper接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends BaseMapper<${ClassName}> {
}
